.InputCotainer-Password{
    @apply w-[95%]
    lg:w-[100%]
    xl:w-[90%]

}

.InputPassword {
    @apply  rounded-lg text-white border border-[#4461F2] bg-inherit placeholder-white
    w-full h-12 p-4 text-sm tracking-[1px]
    xl:w-full xl:h-12 xl:p-4 xl:text-sm xl:tracking-[1px]
    lg:w-full lg:h-12 lg:p-4 lg:text-sm lg:tracking-[1px]
}